# CODEOWNERS - define reviewers automatically for PRs

# Global owner for everything
* @shankarbk @mantubhavi

# Specific ownership by directory
<!-- /api/ @shankar
/infra/ @sharanu
/ui/ @mahantu.bhavi@gmail.com

# Optional: for Terraform infra files
*.tf @shankar -->
